.main-card-cloths{
    /* width: 320px;
 height: 320px; */
 /* background: rgb(255, 255, 0); */
 

 
}
.cloths-card{
    border: 2px solid rgb(128, 128, 128);
    border-radius: 10px;
}
.product-store{
    font-size:30px;
    /* background: rgb(255, 255, 0); */

    font-weight: bold;
    padding: 20px;
    letter-spacing: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.product-btn{
    /* border: 4px solid rgb(255, 251, 4);  */
    background: blue;
    color: white;
 
    padding: 5px 20px 5px 20px;
    margin-top: 15px;
   margin-left: 95px; 
    

}

.Card__name{
letter-spacing: 2px;
font-size: 22px;
}
.Card__desc{
    letter-spacing: 2px;
    font-size: 12px;
}